<!-- views/partials/header.ejs -->

<nav class="navbar mavbar-expand-sm navbar-light bg-white" role="navigation">
    <a class="navbar-brand" href="/">
        <img src="images/logo.png" width=200px></i>
    </a>

    <div class="expand navbar-expand">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/map">Cat Map</a></li>
            <li class="nav-item"><a class="nav-link" href="/form">Add a Cat</a></li>
        </ul>
    </div>

</nav>