/* Navbar styles */
.nav-link{
  color : rgb(247, 102, 19) !important;
  font-size: 17px;
}
.nav-item > a:hover {
    color :rgb(30, 139, 139)!important;
}
.nav-item.active .nav-link {
  color :  rgb(30, 139, 139)!important;
}

/* Index - Main styles */
#main-cat {
  background-image: url("/images/cat.jpg");
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 23%;
  background-color: #fff;
  background-size: cover;
  background-position-y: 35%;
  position: relative;
}

#main-container {
  padding: 0%;
  color: white;
  top: 90px;
  left: 120px;
  position: absolute;
}

#mapper {
  font-size: 4vw;
}

#connecting {
  font-size: 1.8vw;
}

#main-buttons {
  margin-left: 110px;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

body {
  font-family: 'Archivo', sans-serif;
}

