/* Navbar styles */
.nav-link{
  color : rgb(247, 102, 19) !important;
  font-size: 17px;
}
.nav-item > a:hover {
    color :rgb(30, 139, 139)!important;
}
.nav-item.active .nav-link {
  color :  rgb(30, 139, 139)!important;
}

/* Index - Main styles */
#main-cat {
  background-image: url("/images/cat.jpg");
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 23%;
  background-color: #fff;
  background-size: cover;
  background-position-y: 35%;
  position: relative;
}

body {
  font-family: 'Archivo', sans-serif;
}

