<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <link rel='stylesheet' href='stylesheets/about.css' />
</head>

<body>

  <header>
    <% include partials/header %>
  </header>

  <main>

    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-6">
          <h1>About Catlas</h1>
          <p>Catlas is your cat atlas: connecting you with your local cats. Add local cats to the database so that others can go and pet them. Or check the map to see the cats in your local area so you can pet them! Catlas is here to fulfill your outdoor cat petting needs, whether just a jaunt through the neighborhood or on a cat-petting tour about town!</p>
        </div>
        <div class="col-sm-6">
          <img src="images/map-example.png" class="example_img">
        </div>
      </div>
    </div>

    <div class="jumbotron" id="bios">
      <h1>Meet the Devs</h1>
      <div class="row">
        <div class="col-sm-6">
          <img src="images/Belén.jpg" class="profile_img">
          <h3>Belén Bustamante</h3>
          <a href="https://github.com/rooneyshuman" target="_blank" type="submit" class="btn btn-info btn-md">GitHub</a>
          <a href="https://www.linkedin.com/in/belen-bustamante/" target="_blank" type="submit" class="btn btn-info btn-md">LinkedIn</a>
        </div>
        <div class="col-sm-6">
          <img src="images/Mack.png" class="profile_img">
          <h3>Mack Cooper</h3>
          <a href="https://github.com/mackkcooper" target="_blank" type="submit" class="btn btn-info btn-md">GitHub</a>
          <a href="https://www.linkedin.com/in/mackkirklandcooper/" target="_blank" type="submit" class="btn btn-info btn-md">LinkedIn</a>
        </div>
      </div>
    </div>

  </main>

  <footer>
      <% include partials/footer %>
  </footer>

</body>

</html>