<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <link rel='stylesheet' href='stylesheets/about.css' />
</head>

<body>

  <header>
    <% include partials/header %>
  </header>

  <main>

    <div class="about">
      <div class="container">
        <h1 id="about-container">About Catlas</h1>
      </div>
    </div>

    <div class="info-container">
      <h3 id="info">Catlas is your cat atlas: connecting you with your local cats. Add local cats to the database so that others can go and pet them. Or check the map to see the cats in your local area so you can pet them! Catlas is here to fulfill your outdoor cat petting needs, whether just a jaunt through the neighborhood or on a cat-petting tour about town!</h3>
    </div>

    <div class="row-img">
    <div class="column-img">
      <img src="images/map-example.png" style="width:100%">
    </div>
    <div class="column-img">
      <img src="images/list-example.png" style="width:100%">
    </div>
    <div class="column-img">
      <img src="images/form-example.png" style="width:100%">
    </div>
  </div> 

    <div class="jumbotron" id="bios">
      <h1 class="my-4 mt-5">Meet the Devs</h1>
      <div class="row mt-5">
        <div class="col-sm-6 px-0">
          <div class="card left-block">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6 pr-2">
                  <img src="/images/Belén.jpg" class="profile_img">
                </div>
                <div class="col-sm-6 px-0">
                  <h3 class="card-text mt-5 name">Belén Bustamante</h3>
                  <h5>Developer & Dog Enthusiast</h5>
                  <a href="https://www.github.com/rooneyshuman"> <span class="fab fa-github"></span></a>
                  <a href="https://www.linkedin.com/in/belen-bustamante/"><span class="fab fa-linkedin"></span></a>
                  <p>Co-Founder and resident dog owner. Thinks cats can be friends too.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 px-0">
          <div class="card right-block">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6 pr-2">
                  <img src="/images/Mack.png" class="profile_img">
                </div>
                <div class="col-sm-6 px-0">
                  <h3 class="card-text mt-5 name">Mack Cooper</h3>
                  <h5>Developer & Cat Enthusiast</h5>
                  <a href="https://www.github.com/mackkcooper"><span class="fab fa-github"></span></a>
                  <a href="https://www.linkedin.com/in/mackkirklandcooper/"><span class="fab fa-linkedin"></span></a>
                  <p>Co-Founder with a lifetime of experience petting stray cats. Spends his free time reading cat memes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

 

      </div>
    </div>

  </main>

  <footer>
      <% include partials/footer %>
  </footer>

</body>

</html>