<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <link rel='stylesheet' href='stylesheets/about.css' />
</head>

<body>

  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-6">
          <h1>About Catlas</h1>
          <p>Connecting you with your neighborhood cats!</p>
        </div>
        <div class="col-sm-6">
          <img src="images/map-example.png" id="map_example"/>
        </div>
      </div>
      

      <h1>Meet the Devs</h1>
      <div class="row">
        <div class="col-sm-6">
          <h3>Belén Bustamante</h3>
        </div>
        <div class="col-sm-6">
          <h3>Mack Cooper</h3>
        </div>
      </div>
    </div>
    
  </main>

  <footer>
      <% include partials/footer %>
  </footer>

</body>

</html>