<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <link rel='stylesheet' href='/stylesheets/form.css' />
</head>

<body>

  <header>
    <% include partials/header %>
  </header>

  <main>
    <div id="main_container">
      <div class="container pb-3" id="form_container">
        <div class="text-center pt-3 text-info">
          <h1>Add a New Cat</h1>
          <p class="lead">Enter the info for the cat you found and we'll add it to the Cat Map</p>
        </div>
        <div class="container ml-2 d-flex justify-content-center align-items-center">
          <form class="col-xs-8 px-0 text-info" method="POST" action='/add'>
            <div class="form-group row">
              <label class="px-0 col-sm-4 col-form-label">Color:</label>
              <div class="px-0 ml-2 col-sm-7">
                <select class="form-control" name="color" required>
                  <option value="" selected disabled>color select</option>
                  <option>Black</option>
                  <option>Blue</option>
                  <option>Calico</option>
                  <option>Chocolate</option>
                  <option>Cinnamon</option>
                  <option>Cream</option>
                  <option>Fawn</option>
                  <option>Gray</option>
                  <option>Hairless</option>
                  <option>Lilac</option>
                  <option>Red</option>
                  <option>Tabby</option>
                  <option>Tortoiseshell</option>
                  <option>Smoke</option>
                  <option>White</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="px-0 col-sm-4 col-form-label">Date Found:</label>
              <div class="px-0 ml-2 col-sm-7">
                <input type="date" class="form-control" id="dateFound" name="dateFound" required>
              </div>
            </div>

            <div class="form-group row">
              <label class="px-0 col-sm-4 col-form-label">Latitude:</label>
              <div class="px-0 ml-2 col-sm-7">
                <input type="text" class="form-control" id="lat" name="lat" placeholder="latitude" required>
              </div>
            </div>

            <div class="form-group row">
              <label class="px-0 col-sm-4 col-form-label">Longitude:</label>
              <div class="px-0 ml-2 col-sm-7">
                <input type="text" class="form-control" id="long" name="long" placeholder="longitude" required>
              </div>
            </div>

            <div class="form-group row">
              <label class="px-0 col-sm-4 col-form-label"></label>
              <div class="px-0 ml-2 col-sm-6">
                <input class="form-check-input" type="checkbox" id="gridCheck" onchange="getLocation()">
                <label class="form-check-label" for="gridCheck">Use current location</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="px-0 col-sm-4 col-form-label">Breed:</label>
              <div class="px-0 ml-2 col-sm-7">
                <input type="text" class="form-control" id="breed" name="breed" placeholder="breed" required>
              </div>
            </div>

            <div class="form-group row">
              <!-- <label class="px-0 col-sm-4 col-form-label">Size:</label> -->
              <div class="px-0 col-sm-12 ml-4 mt-1">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" id="small_opt" type="radio" name="size" value="Small" required>
                  <label class="form-check-label" for="small_opt">Small</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="size" value="Medium" required>
                  <label class="form-check-label">Medium</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="size" value="Large" required>
                  <label class="form-check-label">Large</label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label px-0">Rating:</label>
              <div class="px-0 col-sm-7 mt-1 mb-0 ml-2">
                <span class="rating">
                  <input type="radio" class="rating-input" id="five-paws" name="rating">
                  <label for="five-paws" class="fa-paw fa"></label>

                  <input type="radio" class="rating-input" id="four-paws" name="rating">
                  <label for="four-paws" class="fa-paw fa"></label>

                  <input type="radio" class="rating-input" id="three-paws" name="rating">
                  <label for="three-paws" class="fa-paw fa"></label>

                  <input type="radio" class="rating-input" id="two-paws" name="rating">
                  <label for="two-paws" class="fa-paw fa"></label>

                  <input type="radio" class="rating-input" id="one-paw" name="rating">
                  <label for="one-paw" class="fa-paw fa"></label>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-info ml-5 btn-lg">Add My Cat</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <!-- Breed autocomplete -->
  <script src="/javascripts/form.js"></script>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>
