<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>

  <header>
    <% include partials/header %>
  </header>

  <main>
    <div id="main-cat">
      <div class="container" id="main-container">
        <p id="mapper">Stray Cat Mapper</p>
        <p id="connecting">Connecting you with your neighborhood cats!</p>
      </div>
      <div class="container" id="main-buttons">
        <div class="col-md-4 col-lg-6">
          <a role="button" href="/map" class="btn btn-info btn-lg mr-3 btn-responsive">Map a Cat</a>
          <a role="button" href="/about" class="btn btn-info btn-lg btn-responsive">Find a Cat</a>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>