<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <link rel='stylesheet' href='/stylesheets/map.css' />
</head>

<body>
  <header>
    <% include partials/header %>
  </header>

  <main>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Portland
        var portland = {lat: 45.523064, lng: -122.676483};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 12, center: portland});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
      }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src='https://maps.googleapis.com/maps/api/js?key=<%=key%>&callback=initMap'>
    </script>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>
  
</body>

</html>