<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <link rel='stylesheet' href='/stylesheets/thanks.css' />
</head>

<body>

  <header>
    <% include partials/header %>
  </header>

  <main>

    <div class="jumbotron">
      <h1>Your cat has been added to the database!</h1>
      <img src="images/thank-you-cat.jpg" class="example_img">
      <div class="container">
      <a href="/form" type="submit" class="btn btn-info btn-lg">Add Another Cat</a>
      <a href="/map" type="submit" class="btn btn-info btn-lg">Go to the Map</a>
      </div>

    </div>
    
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>