<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <link rel='stylesheet' href='/stylesheets/thanks.css' />
</head>

<body>

  <header>
    <% include partials/header %>
  </header>

  <main>

    <div class="jumbotron">
      <h2>Your cat has been added to the database!</h2>
      <img src="images/thank-you-cat.jpg" class="thanks_img">
      <div class="container">
        <a role="button" href="/form" class="btn btn-info btn-md mr-3 btn-responsive">Add Another Cat</a>
        <a role="button" href="/map" class="btn btn-info btn-md mr-3 btn-responsive">View Cat Map</a>
      </div>

    </div>
    
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>