<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>

  <header>
    <% include partials/header %>
  </header>

  <main>
    <div id="main-cat">
      <div class="container" id="main-container">
        <p id="mapper">Stray Cat Mapper</p>
        <p id="connecting">Connecting you with your neighborhood cats!</p>
      </div>
    </div>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>