.row {
    margin: 0px;
}

.example_img {
    width: 100%;
}

.profile_img {
    display: block;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#bios {
    text-align: center;
}