.row {
    margin: 0px;
}

.about {
    background-image: url("/images/cat_on_fence.jpg");
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    background-position-y: 55%;
    position: relative;
    color: white;
}

#about-container {
    font-size: 80px;
    text-align: center;
}

#info {
    text-align: center;
    font-size: 22px;
    color: #547A82;
    margin-bottom: 0;
}

.info-container {
    background-color: white;
    padding: 75px 20%;
}

#bios {
    color: #547A82;
}

.profile_img {
    display: block;
    margin: 20px 0px;
    max-width: 100%;
    max-height: auto;
}

#bios {
    text-align: center;
    background: white;
    padding: 15px 10%;
}

.name, .fab {
    color: rgb(247, 102, 19);
}

.card {
    background: transparent;
    border: transparent;
    width: 100%;
}

.card-body {
    margin: 0;
    padding: 0;
}
.left-block {
   /* margin-left: 25%; */
   display:block;
}

.right-block {
   /* margin-right: 25%; */
   display:block;
}

.row-img {
    display: flex;
  }
  
 .column-img {
    flex: 33.3%;
    padding: 0px;
  } 