#main_container {
    width: auto;
    background: rgb(235,235,235);
}

h2 {
    font-weight: bold;
}

.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.fa-paw,
.rating:hover .fa-paw {
    font-size: 30px;
    cursor: pointer;
    position: relative;
    display: block;
    float: right;
    margin-right: 5px;
}

.fa-paw:hover,
.fa-paw:hover ~ .fa-paw,
.rating-input:checked ~ .fa-paw {
    color : rgb(247, 102, 19);
}

/* All other sizes */
@media (min-width: 576px) {
    #main_container {
        background-image: url("/images/peeking_cat.png");
        background-position-y: 100%;
        background-position-x: 1%;
        margin-right: 0;
        background-size: cover;
        }
    }

/* Mobile sizing */
@media (max-width: 575px) {
    #main_container {
        background-image: url("/images/peeking_cat_mobile.png");
        background-size: cover;
    }
    h1 {
        font-size: 2em;
    }
    p.lead {
        font-size: 15pt;
    }
}