/* Index - Main styles */
#main-cat {
  background-image: url("/images/cat.jpg");
  background-size: cover;
}

#main-container {
  width: auto;
  padding: 0%;
  color: white;
  top: 90px;
  left: 120px;
  position: absolute;
}

#main-buttons {
  width: auto;
  margin-left: 110px;
}

/* Mobile sizing */
@media (max-width: 420px) {
  #main-cat {
    padding-top: 50%;
    padding-bottom: 50%;
    background-position-y: 35%;
    background-position-x: 85%;
    position: relative;
  }

  #main-container {
    padding-right: 30%;
    color: white;
    top: 30px;
    left: 40px;
    position: absolute;
  }

  #mapper {
    font-size: 6vw;
  }
  
  #connecting {
    font-size: 3vw;
    padding-right: 40%;
    margin: 0;
  }

  #main-buttons {
    margin-left: 30px;
    top: 250px;
    left: 40px;
    position: absolute;
  }

  .btn-responsive {
    padding: 4px 6px;
    font-size: 80%;
    line-height: 1;
  }
}

/* Tablet sizing */
@media (min-width: 421px) and (max-width: 768px) {
  #main-cat {
    padding-top: 200px;
    padding-bottom: 20%;
    background-position-y: 35%;
    background-position-x: 85%;
    position: relative;
  }
  
  #main-container {
    width: 80%;
    padding: 0%;
    color: white;
    top: 90px;
    left: 120px;
    position: absolute;
  }
  
  #mapper {
    font-size: 4vw;
  }
  
  #connecting {
    font-size: 1.8vw;
    margin: 0;
  }

  #main-buttons {
    width: 80%;
    margin-left: 110px;
  }

  .btn-responsive {
    padding: 4px 6px;
    font-size: 80%;
    line-height: 1;;
  }
}

/* All other sizes */
@media (min-width: 769px) {
  #main-cat {
    padding-top: 20%;
    padding-bottom: 20%;
    background-position-y: 35%;
    position: relative;
  }
  
  #main-container {
    width: 80%;
    color: white;
    top: 90px;
    left: 120px;
    position: absolute;
  }
  
  #main-buttons {
    padding-top: 0;
    margin-left: 100px;
  }

  #mapper {
    font-size: 4vw;
  }
  
  #connecting {
    font-size: 1.8vw;
    margin: 0;
  }

  .btn-responsive {
    padding:8px 12px;
    font-size: 100%;
  }
}