#map {
    height: 555px; 
    width: auto;
    margin: 20px;
    margin: 0px 5px;
}

#cat-table {
    width: auto;
    margin: 20px;
    margin-left: 5px;
    margin-top: 0px;
}

.table-scroll {
    height: 555px;
    overflow: auto;
}

.checked {
    color : rgb(247, 102, 19)
}

.card {
    color :rgb(30, 139, 139);
}

h5 {
    font-weight: 200;
}

.row {
    width: auto;
    margin: 0px;
}

.transparent-border {
    border: transparent;
}